.singleCoffeeItem {
    background: url('../../assets/524da229af587856fb0c03e41d5ef300.jpg') center / cover no-repeat;
    height: 100vh;
    &__wrapper {
        display: flex;
        justify-content: center;
    }
    &__img {
        margin-top: 70px;
        min-height: 270px;
        width: 35%;  
        border-radius: 50px;  
    }
    &__about {
        max-width: 421px;
        margin-top: 80px;
        margin-left: 55px;
        background-color: rgba(255, 237, 208, 0.89);
        border-radius: 10px;
       &-title {
        text-align: center;
       }
       &-subtitle {
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        padding-right: 5px;
       }
       &-descr{
        padding: 15px 0;
        max-width: 410px;
        text-align: center;
       }
       &-wrapper {
        display: flex;
        justify-content: center;
        &-price {
            font-size: 14px;
            font-weight: 700;
            line-height: 40px;
            padding-right: 15px;
        }
       }
    }   
}

// Media --------------------

@media (max-width: 991px) {
    .singleCoffeeItem {
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__img {
            width: 40%;
        }
        &__about{
            margin-left: 0;
        }
    }
}

@media (max-width: 767px) {
    .singleCoffeeItem {
        &__img {
            width: 55%;
        }

    }
}

@media (max-width: 575px) {
    .singleCoffeeItem {
        &__img {
            width: 240px;
        }

    }
}
