.singleCoffeeItem {
    background: url('../../assets/bg/bgMain.jpg') center / cover ;
    min-height: 100vh;
    &__wrapper {
        display: flex;
        justify-content: center;
        margin-top: 40vh;
        transform: translateY(-50%);
    }
    &__img {
        min-height: 270px;
        width: 35%;  
        border-radius: 50px;  
    }
    &__about {
        max-width: 421px;
        margin-left: 55px;
        background-color: rgba(255, 237, 208, 0.89);
        border-radius: 10px;
       &-title {
        margin-top: 30px;
        text-align: center;
       }
       &-subtitle {
        font-size: 14px;
        font-weight: 700;
        line-height: 19px;
        padding-right: 5px;
       }
       &-descr{
        padding: 15px 20px;
        max-width: 410px;
        text-align: center;
       }
       &-wrapper {
        display: flex;
        justify-content: center;
        &-price {
            font-size: 14px;
            font-weight: 700;
            line-height: 40px;
            padding-right: 15px;
        }
       }
    }   
}

// Media --------------------

@media (max-width: 991px) {
    .singleCoffeeItem {
        &__wrapper {
            flex-direction: column;
            align-items: center;
            margin-top: 0px;
            padding-top: 105vh;
            height: 1px;
        }
        &__img {
            width: 40%;
        }
        &__about{
            margin-left: 0;
            margin-top: 25px;
        }
    }
}

@media (max-width: 767px) {
    .singleCoffeeItem {
        &__wrapper {
            margin-top: 0;
            padding-top: 100vh;
        }
        &__img {
            width: 55%;
        }

    }
}

@media (max-width: 575px) {
    .singleCoffeeItem {
        &__img {
            width: 240px;
        }

    }
}

@media (max-width: 575px) {
    .singleCoffeeItem {
        min-height: 120vh;
    }
}
