.button {
    :hover {
        transition: 250ms;
        border: 1px solid gold;
    }
    :active {
        transition: 250ms;
        transform: translateX(50%);
        transform: scale(95%);
    } 
    &__view {
        width: 130px;
        height: 38px;
        margin: 30px;
        border-radius: 10px;
        border: 2px solid rgba(33, 154, 121, 0.657);
        background: url(../../assets/bgButton.jpg) center / cover no-repeat;
        color: gold;
        filter: drop-shadow(5px 5px 35px rgba(74, 131, 172, 0.25));
    }

}