.hamburger {
    display: block;
    position: absolute;
    right: 20px;
    top: 2%;
    transform: translateY(-50%);
    width: 40px;
    height: 12px;
    span {
        display: block ;
        height: 2px;
        width: 100%;
        background-color: #fff ;
        margin-bottom: 4px;
        transition: 0.5s all;
    }
       
}
.active {
    span {
        margin-bottom: -2px ;
        &:nth-child(1)  {
            transform: translateY(3px) rotate(-45deg);
        }
        
        &:nth-child(2)  {
            display: none;
        }
            
        &:nth-child(3) {
            transform: translateY(3px) rotate(45deg);
        }
            
    }
    
}

   