.aboutUs {
    background: url(../../assets/bgAboutUs.png) center / cover no-repeat;
    // background: radial-gradient(circle, rgba(63,94,251,0.3) 0%, rgba(252,70,107,1) 100%);
    text-align: center;
    &__wrapper {
        padding-top: 80px;  
        // background: radial-gradient(circle, rgba(238,174,202,0.5) 0%, rgba(148,187,233,0.5) 100%);
            background: radial-gradient(circle, rgba(63,94,251,0.3) 0%, rgba(252,70,107,1) 100%);
            // background: linear-gradient(90deg, rgba(2,0,36,0.3) 0%, rgba(121,9,100,0.3) 13%, rgba(121,9,100,0.3) 33%, rgba(0,212,255,0.3) 67%);
        background-size: 200%;
        animation: gradient 15s ease infinite;
    }
    &__descr {
        opacity: 1;
        max-width: 590px;
        margin: 0 auto;
        padding-bottom: 65px;
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

// Media ----------------

@media (max-width: 767px) {
    .about {
        &__descr {
            width: 500px;
        }
    }
}

@media (max-width: px) {
    .about {
        &__title {
            font-size: 24px;
        }
        &__descr {
            width: 260px;
        }
    }
} 

@media (max-width: 320px) {
    .about {
        &__title {
            font-size: 24px;
        }
        &__descr {
            width: 260px;
        }
    }
}

