.aboutUs {
    background: url(../../assets/bgAboutUs.png) center / cover no-repeat;
    text-align: center;
    position: relative;
    &__wrapper {
        padding-top: 80px;  
        background: radial-gradient(circle, rgba(238,174,202,0.8) 0%, rgba(148,187,233,0.8) 100%);
        background-size: 200%;
        animation: gradient 10s ease infinite;
        padding-bottom: 80px;
    }
    &__descr {
        opacity: 1;
        max-width: 590px;
        margin: 0 auto;
        padding-bottom: 65px;
    }
    &__fruitLeft {
        position: absolute;
        font-size: 56px;
        color: gold;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        text-transform: uppercase;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        left: 285px;
        top: 50%;
        transform: translateY(-50%);
    }
    &__fruitRight {
        position: absolute;
        font-size: 56px;
        color: gold;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        text-transform: uppercase;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        right: 285px;
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

// Media ----------------

@media (max-width: 767px) {
    .about {
        &__descr {
            width: 500px;
        }
    }
}

@media (max-width: px) {
    .about {
        &__title {
            font-size: 24px;
        }
        &__descr {
            width: 260px;
        }
    }
} 

@media (max-width: 320px) {
    .about {
        &__title {
            font-size: 24px;
        }
        &__descr {
            width: 260px;
        }
    }
}

