.about {
    &__title {      
            margin-top: 80px;  
            text-align: center;   
    }
    &__descr {
        width: 590px;
        margin: 40px auto;
    }
}

// Media ----------------

@media (max-width: 767px) {
    .about {
        &__descr {
            width: 500px;
        }
    }
}

@media (max-width: 575px) {
    .about {
        &__title {
            font-size: 24px;
        }
        &__descr {
            width: 260px;
        }
    }
} 

@media (max-width: 320px) {
    .about {
        &__title {
            font-size: 24px;
        }
        &__descr {
            width: 260px;
        }
    }
}

