.linkPage {  
        position: relative;
        display: flex;
        justify-content: space-between;
        padding-top: 52px;
        width: 320px;
        font-weight: 400;
        font-size: 12px;
        margin-left: 5rem;
        color: #FFFFFF;
        text-shadow: 0px 4px 4px rgba(25, 21, 21, 0.25);
        padding-left: 35px;
    &__img {
        position: absolute;
        top: 30px;
        margin-left: -31px;
    }
}

    