.banner {
    background: url('../../assets/headBG.png') center / cover no-repeat;
    height: 260px;
    &__title {
        margin-top: 60px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
    }
}

// Media ----------

@media (max-width: 767px) {

    .banner {
        &__title {
            font-size: 36px;
        }
    }
}

@media (max-width: 575px) {

    .banner {
        &__title {
            font-size: 28px;
        }
    }

} 
