.hamburger {
    display: none;
    position: fixed;
    right: 10px;
    top: 30px;
    transform: translateY(-50%);
    z-index: 10;
    &__wrapp {
        padding: 20px;
    }
    span {
        display: block ;
        width: 40px;
        height: 2px;
        background-color: #fff ;
        margin-bottom: 4px;
        transition: 0.5s all;
    }
    &__active {
        span {
            margin-bottom: -2px ;
            &:nth-child(1)  {
                transform: translateY(3px) rotate(-45deg);
            }
            
            &:nth-child(2)  {
                display: none;
            }
                
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
                
        }
    }
       
}

.menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 30%;
    height: 100vh;
    text-align: center;
    background-color: rgb(141, 192, 191) ;
    margin-bottom: 4px;
    z-index: 10;
    transition: 0.5s all;    
    transform: translateX(-191%);
   &__active {
    opacity: 0.95;
    transform: translateX(0%);
   }
   &__link {
    margin-top: 30px;
    cursor: pointer;
   }
}


// Media -------------------

@media (max-width: 2560px) {
    .menu {
        display: none;
    }
}

@media (max-width: 767px) {
    .menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
}

@media (max-width: 575px) {
    .menu {
        &__link {
            margin-top: 30px;
            text-align: center;
            cursor: pointer;
           }
    }
}
   