.hamburerV2Button {
    width: 100px;
    height: 100px;
    right: 0;
    position: fixed;
}

.hamburgerV2 {
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index: 10;
    &__content {
        position: fixed;
        width: 30%;
        height: 100vh;
        text-align: center;
        margin-bottom: 4px;
        z-index: 10;
        transition: 0.5s all;    
        transform: translateX(-191%);
        background: url(../../assets/bgMenu1.jpg) center / cover no-repeat;
        border: 1px solid;
        border-right-color: gold;
        pointer-events: all;
    }
    &__active {
        span {
            margin-bottom: -2px ;
            &:nth-child(1)  {
                transform: translateY(3px) rotate(-45deg);
            }
            
            &:nth-child(2)  {
                display: none;
            }
                
            &:nth-child(3) {
                transform: translateY(3px) rotate(45deg);
            }
                
        }
    }
}

.hamburgerV2.activeHamburgerV2 {
    opacity: 1;
    pointer-events: all;
}

.hamburgerV2__content.activeHamburgerV2 {
    transform: scale(1);
}