@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

.app {
    height: 100vh;
    overflow-y: scroll;
    a {
        text-decoration: none;
    }
    font-family: 'Merienda', cursive;
    // background-color: rgba(89, 164, 204, 0.132);
    // background: url('../../assets/524da229af587856fb0c03e41d5ef300.jpg') center / cover no-repeat;
}

.content {
    max-width: 1440px;
    margin: 0 auto;
    // background-color: rgba(255, 255, 255, 1);

}

.container {
    margin: 0 auto;
}