@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

.app {
    height: 100vh;
    overflow-y: scroll;
    a {
        text-decoration: none;
    }
    font-family: 'Merienda', cursive;
}

.content {
    // max-width: 1440px;
    margin: 0 auto;

}

.container {
    margin: 0 auto;
}