.exitLink {
    color: antiquewhite;
    cursor: pointer;
        &:hover {
            background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,203,253,1) 50%, rgba(252,176,69,1) 100%);
            background-clip: text;
            -webkit-text-fill-color: transparent;
            text-shadow: 0px 4px 4px rgba(356, 256, 156, 0.25);  
            background-size: 200%;
            animation: gradient 5s ease infinite;
        }
}

// Media ----------------

@media (max-width: 767px) {
    .exitLink {
        width: 200px;
        margin: 0 auto;
        padding: 5px;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,203,253,1) 50%, rgba(252,176,69,1) 100%);
        border-image-slice: 1;
    }
}