.basketLayout {
    background: url('../../assets/bg/524da229af587856fb0c03e41d5ef300.jpg') center / cover ;
    min-height: 100vh;
    padding-top: 1px;
    padding-bottom: 10vh;
}

@media (max-width: 1280px) {
    .basketLayout {
        &__modal {
            flex-direction: column;
        }
        &__input {
            max-width: 250px;
        }
        &__item {
            margin: 15px 0;
        }
    }
}
