.basket {
    display: flex;
    justify-content: space-around;
    position: absolute;
    min-width: 150px;
    min-height: 50px;
    right: 60px;
    top: 30px;
    border-radius: 10px;
    border: 2px solid rgba(174, 242, 224, 0.657);
    background-color: rgba(174, 242, 224, 0.657);
    align-items: center;
}