.basketLayout {
    background: url('../../assets/524da229af587856fb0c03e41d5ef300.jpg') center / cover ;
    padding-bottom: 40vh;
}

@media (max-width: 1280px) {
    .basketLayout {
        &__modal {
            flex-direction: column;
        }
        &__input {
            max-width: 250px;
        }
        &__item {
            margin: 15px 0;
        }
    }
}