.basketSticky {
    display: flex;
    justify-content: space-around;
    position: fixed;
    min-width: 140px;
    min-height: 50px;
    right: 50px;
    top: 94px;;
    border-radius: 10px;
    border: 2px solid rgba(174, 242, 224, 0.657);
    background-color: rgba(174, 242, 224, 0.657);
    align-items: center;
    z-index: 1;
    &__amount {
        min-width: 25px;
        height: 30px;
        padding: 0 5px 0 5px;
        border: 2px solid antiquewhite;
        border-radius: 30%;
    }
    &__price {
        min-width: 65px;
        height: 29px;
        padding: 0 5px 0 5px;
        border: 2px solid antiquewhite;
        border-radius: 8px;
    }
}

// Media ------------------

@media (max-width: 991px) {
    .basketSticky {
        min-width: 120px;
        min-height: 40px;
    }
}

@media (max-width: 767px) {
    .basketSticky {
        top: 60px;
        right: 20px;
        left: unset;
    }
} 
