.basketSticky {
    display: flex;
    justify-content: space-around;
    position: fixed;
    min-width: 140px;
    min-height: 50px;
    right: 50px;
    top: 94px;;
    border-radius: 10px;
    border: 2px solid rgba(174, 242, 224, 0.657);
    background: url(../../assets/bgMenu.jpg) center / cover no-repeat;
    color: gold;
    align-items: center;
    z-index: 1;
    &__amount {
        padding: 0 5px 1px 5px;
        border: 2px solid antiquewhite;
        border-radius: 30%;
    }
    &__total {
        padding: 0 5px 1px 5px;
        border: 2px solid antiquewhite;
        border-radius: 8px;
    }
}

#basketSticky {
    color: gold;
    &:hover {
        transition: 10s;
        background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
        // background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 4px 4px rgba(356, 256, 156, 0.25);  
        background-size: 100%;
    }
}

// Media ------------------

@media (max-width: 991px) {
    .basketSticky {
        min-width: 120px;
        min-height: 40px;
        right: 20px;
    }
}

@media (max-width: 767px) {
    .basketSticky {
        top: 60px;
        right: 20px;
        left: unset;
    }
} 
