.ourcoffee {
    &__about {
        display: flex;
        width: 700px;
        margin: 0 auto;
    }
    &__descr {
        margin-top: 80px;
        text-align: center;
    }
    &__girl {
        margin-top: 80px;
        margin-right: 70px;
    }
    &__text {
        width: 346px;
    }
    &__line {
        margin: 60px auto;
        width: 240px;
        height: 0px;
        border: 1px solid #000000;
    }
    &__lookiing {
        display: flex;
        width: 775px;
        margin: 0 auto;
    }
    &__search {
        display: flex;
        &-title {
            margin-right: 20px;
            line-height: 30px;

        }
        &-input {
            width: 180px;
            height: 30px;
            padding-left: 15px;
            padding-right: 15px;
            background: #FFFFFF;
            box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
            border-radius: 4px;
            border: unset;
            outline: none;

        }     
        ::placeholder {
            text-align: center;
            font-size: 12px;
        }      
    }
    
    &__cards {
        width: 800px;
        margin: 60px auto;
        display: grid;
        grid-template-columns: repeat(auto-fill, 220px);
        justify-content: space-between;
        grid-row-gap: 60px;

    }
    &__footer {
        &-link {
            display: block;
            margin: 0 auto;
        }
    }


}