.filter {
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__title {
        min-width: 65px;
        margin-left: 70px;
        margin-right: 13px;
        color: coral;
    }
    &__btn {
        width: 75px;
        height: 30px;
        background: #FFFFFF;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
        border-radius: 4px 4px 4px 4px;
        border: unset;
        margin: 0 5px;
        font-size: 12px;
    }
    &__statusLoading {
        margin-left: 50px
    }
}

.active {
    color: blue;
    opacity: 0.8;
}

// Media --------------------

@media (max-width: 991px) {
    .filter {
         &__wrapper {
            justify-content: center;
         }
    }
}

@media (max-width: 767px) {
    .filter {
        &__wrapper {
            align-items: center;
            margin-top: 30px;
        }
        &__title {
            margin-left: 0;
        }
    }
}

@media (max-width: 320px) {
    .filter {
        &__title {
            display: none;
        }
    }
}
