@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');

.startPage {
    background: url(https://catherineasquithgallery.com/uploads/posts/2021-02/1612772960_17-p-tekhnicheskii-fon-goluboi-24.jpg) center / cover no-repeat;
   height: 100vh;
   color: white;
   font-size: 18px;
   font-family: 'Proxima Nova Light';
   &__title {
    padding-top: 50px;
   }
   &__link {
    margin-top: 25px;
    font-size: 36px;
   }
   &__btn {
    background: url(../../assets/bg/bgButton17.webp) center / cover no-repeat;
    background: linear-gradient(90deg, rgb(191, 76, 191) 0%, rgb(40, 194, 81) 50%, rgba(252,176,69,1) 100%);
    text-shadow: 0px 4px 4px rgba(356, 256, 156, 0.25);  
    background-size: 200%;
    display: block;
    margin: 50px 0;
    min-width: 250px;
    height: 100px;
    border-radius: 10px;
    font-size: 56px;
    color: aliceblue;
    transition: 500ms;
    filter: drop-shadow(5px 5px 20px #54affffe);
    background: linear-gradient(90deg, rgb(191, 76, 191) 0%, rgb(40, 194, 81) 50%, rgba(252,176,69,1) 100%);
    background-size: 200%;
    animation: gradientAnimation 10s ease infinite;
    border: none;
    span {
        background: linear-gradient(90deg, #b6fff4 3%, #00d4ff 67%);
        background-size: auto;
        background-clip: border-box;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        text-shadow: 0px 4px 4px rgba(255, 255, 156, 0.25);
        background-size: 300%;
        animation: gradientAnimation 1s ease infinite;
    }

    &:hover {
        transition: 500ms;
        transform: scale(103%);
    }
    &:active {
        transition: 150ms;
        transform: translateX(50%);
        transform: scale(95%);
    } 
   }
   a {
    display: block;
    max-width: 250px;
   }
   
}