.footer {
    min-height: 150px;
    background: url('../../assets/bg/bGfooter.webp') center / cover no-repeat;
    &__img {
        position: absolute;
        top: 30px;
        margin-left: -31px;
    }
    
}

// Media ----------

@media (max-width: 767px) {
    .footer {
        min-height: 100px;
        padding-bottom: 10px;
    }
}
