.footer {
    position: relative;
    min-height: 150px;
    // background: url('../../assets/bg/bGfooter.webp') center / cover no-repeat;
    background: radial-gradient(circle, rgba(197, 202, 252, 0.8) 0%, rgba(148,187,233,0.8) 100%);
    background-size: 200%;
    animation: gradientAnimation 10s ease infinite;
    z-index: 1000;
    &__img {
        position: absolute;
        top: 30px;
        margin-left: -31px;
    }
    
}

// Media ----------

@media (max-width: 767px) {
    .footer {
        min-height: 100px;
        padding-bottom: 10px;
    }
}
