.pleasure {
    background: url('../../../assets//bgHeader.png') center / cover no-repeat;
    height: 260px;
    &__title {
        margin-top: 60px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
    }
    &__bannerWrapp {
        height: 260px;
    }
}

// Media ----------------

@media (max-width: 991px) {
    .pleasure {
        &__title {
            margin-top: 100px;
            font-size: 36px;
        }
    }
}



@media (max-width: 767px) {
    .pleasure {
        &__title {
            font-size: 34px;
        }
    }
}

@media (max-width: 575px) {
    .pleasure {
        &__title {
            font-size: 28px;
        }
    }
}