.pleasure {
    background: url('../img/bgHeader.png') center / cover no-repeat;
    height: 260px;
    &__title {
        margin-top: 60px;
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 58px;
        color: #FFFFFF;
    }
    &__bannerWrapp {
        height: 260px;
    }
}