.cardsList {
    background: url(../../assets/bg/bgOurCoffee.jpg) center / cover no-repeat;
    position: relative;
    padding: 230px 0 150px;
    &__title {
        position: absolute;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        top: 70px;
        color: gold;
        font-size: 56px;
    }
    &__wrapper {
        max-width: 800px;
        margin: 60px auto 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, 235px);
        justify-content: space-between;
        grid-row-gap: 60px;
        grid-column-gap: 20px;
    }
    &__bg {
        background: url(../../assets/bg/testBg.png) center / cover  no-repeat;
        // background: url(../../assets/bg/bgCardsList.jpg) center / cover  no-repeat;
        padding: 50px 0 50px 0;
        max-width: 1000px;
        border-radius: 50px;
        margin: 0 auto;
    }
}

// Media ----------------------

@media (max-width: 991px) {
    .cardsList {
        &__wrapper {
            justify-content: space-evenly;
            padding-bottom: 10px;
        }
        &__bg {
            background-size: cover;
        }
    }
}

@media (max-width: 767px) {
    .cardsList {
        &__title {
            top: 90px;
            font-size: 42px;
        }
    }
}
