.cardsList {
    padding: 100px 0 100px;
    border-radius: 50px;
    &__wrapper {
        max-width: 800px;
        margin: 60px auto 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, 220px);
        justify-content: space-between;
        grid-row-gap: 60px;
    }
    &__bg {
        padding: 20px;
        max-width: 1000px;
        border-radius: 50px;
        margin: 0 auto;
    }
}

// Media ----------------------

@media (max-width: 991px) {
    .cardsList {
        &__wrapper {
            justify-content: space-evenly;
        }
    }
}

@media (max-width: 767px) {

}