.enter {
    background: url(../../assets/bgEnter.jpg) center / cover no-repeat;
    height: 100vh;
}

.enterView {
    max-width: 510px;
    min-height: 150px;
    margin: 35px auto 0; 
    text-align: center;
    border:1px solid gold;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.65);
    filter: drop-shadow(5px 5px 35px rgba(0, 0, 0, 0.25));
    &__input {
        margin: 25px 20px 15px 20px;
        border: 1px solid #bd00854d;
        border-radius: 5px;
        padding: 0px 3px;
        outline: none;
        &-errorMessage {
            margin-left: -250px;
        }
    }
    &__link {
        margin-top: 20px;
        text-align: center;
    }
    &__title {
        padding-top: 25vh;
        text-align: center;
    }
    &__btn {
        position: relative;
        margin: 17px auto;
    }

} 

// Media --------------------

@media (max-width: 576px) {
    .enter {
        &__input {
            display: flex;
            flex-direction: column;
            margin: 30px auto 10px;
        }
    }
    .enterView {
        width: 85%;
    }
    .content {
        width: 90%;
    }
}