.loginView {
    position: absolute;
    right: 50px;
    top: 18px;
    color: white;
    &__wrapper {
        display: flex;
        border-top: 10px solid  rgba(32, 217, 204, 0.37);
        border-bottom: 10px solid  rgba(32, 217, 204, 0.37);
        border-radius: 17px;
        font-size: 25px;
        &-title {
            margin-top: 5px;
            margin-bottom: 5px;
            color: gold;
        }
        &-email{
            padding-left: 20px;
            color: coral;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    &__btn {
        position: relative;
        margin: 16px auto;
        width: 140px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid rgba(33, 154, 121, 0.657);
        filter: drop-shadow(5px 5px 35px rgba(74, 131, 172, 0.25));
        background: url(../../assets/bgMenu.jpg) center / cover no-repeat;
        color: gold;
    }
    &__input {
        margin-right: 25px;
    }
}

// Media --------------------
@media (max-width: 991px) {
    .loginView {
        &__wrapper {
            font-size: 20px;
        }
    }
}

@media (max-width: 767px) {
    .loginView {
        left: 20px;
        right: unset;
        &__btn {
            left: -1000%;
            width: 95px;
            height: 30px;
        }
    }
}

@media (max-width: 576px) {
    .loginView {
        &__wrapper {
            &-title {
                display: none;
            }
            &-email {
                padding-left: 0;
            }
        }
    }
 }

@media (max-width: 400px) {
   .loginView {
        &__wrapper {
            font-size: 14px;
        }
        &__btn {
            width: 60%;
            height: 3%;
        }
   }
}