.headerMain {
    background: url('../../assets/524da229af587856fb0c03e41d5ef300.jpg') center / cover ;
    height: 100vh;
    &__title {
        padding-top: 30vh;
        margin-left: auto;
        text-align: center;
        font-size: 56px;
        font-weight: 700;
        color: gold;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__item {
        margin: 20px auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        &-line{           
                width: 60px;
                height: 0px;
                border: 1px solid #FFFFFF;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
            }
        
    }
    &__subtitle {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: coral;
    }
    &__subtitleShadow {
        text-align: center;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 35px;
        color: coral;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
    &__mainBtn {
        display: block;
        margin: 23px auto;
        width: 140px;
        height: 40px;
        border-radius: 10px;
        border: 2px solid rgba(33, 154, 121, 0.657);
        filter: drop-shadow(5px 5px 35px rgba(74, 131, 172, 0.25));
        background: url(../../assets/bgMenu.jpg) center / cover no-repeat;
        color: gold;
    }   
};

.container {
    max-width: 1200px;
}

// Media ----------

@media (max-width: 991px) {
    .container {
        max-width: 90%;
    }
    .headerMain {
        &__title {
            font-size: 35px;
        }
    }
}

@media (max-width: 767px) {
    .headerMain {
        height: 65vh;
        &__title {
            font-size: 30px;
            padding-top: 25vh;
        }
        &__subtitle {
            font-size: 20px;
        }
        &__subtitleShadow {
            font-size: 20px;
        }
    }
}

@media (max-width: 575px) {
    .headerMain {
        &__title {
            font-size: 24px;
        }
        &__subtitle {
            font-size: 18px;
        }
        &__subtitleShadow{
            font-size: 18px;
        }
    }
} 

@media (max-width: 320px) {
    .headerMain {
        &__title {
            margin:0px;
            font-size: 24px;
        }
        &__subtitle {
            font-size: 16px;
            width: 204px;
            margin: 10px auto;
        }
        &__subtitleShadow{
            font-size: 16px;
        }
        &__item {
            margin: 30px auto;
        }
    }
}